h1{
    text-align: center;
}

h3{
    text-align: center;
    padding: 40px 0;
    color: red
}



.dog-cards-container{
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
    
}

.cat-cards-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
}

.card{
    width: 33%;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    
}