h1{
    text-align: center;
    padding: 50px 0;
}

h2{
    text-align: center;
    padding: 40px 0;
    color: white;
    text-transform: uppercase;
}

.first-section{
    padding-bottom: 50px;
    background-image: url("../img/dogsBG.jpg");
}

.second-section{
    background-image: url("../img/catsBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.dog-cards-container{
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
    
    
    
}

.cat-cards-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    transition: 1s;
}

.card:hover{
    transform: scale(1.1);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}